tr
	{mso-height-source:auto;
	mso-ruby-visibility:none;}
col
	{mso-width-source:auto;
	mso-ruby-visibility:none;}
br
	{mso-data-placement:same-cell;}
ruby
	{ruby-align:left;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"ＭＳ Ｐゴシック", monospace;
	mso-font-charset:128;
	border:none;
	mso-protection:locked visible;
	mso-style-name:標準;
	mso-style-id:0;}
.font6
	{color:windowtext;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"ＭＳ Ｐゴシック", monospace;
	mso-font-charset:128;}
.font9
	{color:red;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"ＭＳ Ｐゴシック", monospace;
	mso-font-charset:128;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"ＭＳ Ｐゴシック", monospace;
	mso-font-charset:128;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	border:.5pt solid windowtext;}
.xl66
	{mso-style-parent:style0;
	border:.5pt solid windowtext;
	background:#DDEBF7;
	mso-pattern:black none;}
.xl67
	{mso-style-parent:style0;
	color:windowtext;}
.xl68
	{mso-style-parent:style0;
	color:windowtext;
	border:.5pt solid windowtext;}
.xl69
	{mso-style-parent:style0;
	color:windowtext;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl70
	{mso-style-parent:style0;
	text-align:right;
	border:.5pt solid windowtext;}
.xl71
	{mso-style-parent:style0;
	text-align:right;}
.xl72
	{mso-style-parent:style0;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl73
	{mso-style-parent:style0;
	text-align:center;
	border:.5pt solid windowtext;}
.xl74
	{mso-style-parent:style0;
	border:.5pt solid windowtext;
	background:#DDEBF7;
	mso-pattern:black none;
	white-space:normal;}
.xl75
	{mso-style-parent:style0;
	font-size:9.0pt;
	border:.5pt solid windowtext;
	background:#DDEBF7;
	mso-pattern:black none;
	white-space:normal;}
.xl76
	{mso-style-parent:style0;
	color:windowtext;
	border:.5pt solid windowtext;
	background:#FCE4D6;
	mso-pattern:black none;}
.xl77
	{mso-style-parent:style0;
	border:.5pt solid windowtext;
	background:#FCE4D6;
	mso-pattern:black none;}
.xl78
	{mso-style-parent:style0;
	color:windowtext;
	vertical-align:top;
	border:.5pt solid windowtext;
	background:#DDEBF7;
	mso-pattern:black none;
	white-space:normal;}
.xl79
	{mso-style-parent:style0;
	color:windowtext;
	vertical-align:top;
	white-space:normal;}
.xl80
	{mso-style-parent:style0;
	color:windowtext;
	vertical-align:top;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl81
	{mso-style-parent:style0;
	color:windowtext;
	white-space:normal;}
.xl82
	{mso-style-parent:style0;
	color:windowtext;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	white-space:normal;}
.xl83
	{mso-style-parent:style0;
	color:windowtext;
	text-align:left;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl84
	{mso-style-parent:style0;
	color:windowtext;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	white-space:normal;}
.xl85
	{mso-style-parent:style0;
	color:windowtext;
	text-align:left;
	white-space:normal;}
.xl86
	{mso-style-parent:style0;
	font-size:8.0pt;
	border:.5pt solid windowtext;
	background:#DDEBF7;
	mso-pattern:black none;
	white-space:normal;}
.xl87
	{mso-style-parent:style0;
	color:windowtext;
	border:.5pt solid windowtext;
	background:#D9D9D9;
	mso-pattern:black none;}
.xl88
	{mso-style-parent:style0;
	color:red;
	border:.5pt solid windowtext;}
.xl89
	{mso-style-parent:style0;
	color:red;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl90
	{mso-style-parent:style0;
	color:red;
	font-size:10.0pt;
	text-align:left;}
.xl91
	{mso-style-parent:style0;
	color:red;
	font-size:10.0pt;}
.xl92
	{mso-style-parent:style0;
	color:#0070C0;
	font-size:10.0pt;}
.xl93
	{mso-style-parent:style0;
	color:windowtext;
	text-align:left;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	white-space:normal;}
.xl94
	{mso-style-parent:style0;
	color:windowtext;
	text-align:left;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	white-space:normal;}
.xl95
	{mso-style-parent:style0;
	color:windowtext;
	text-align:left;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	white-space:normal;}
.xl96
	{mso-style-parent:style0;
	color:windowtext;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#D9D9D9;
	mso-pattern:black none;
	white-space:normal;}
.xl97
	{mso-style-parent:style0;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#D9D9D9;
	mso-pattern:black none;}
.xl98
	{mso-style-parent:style0;
	color:windowtext;
	text-align:left;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#DDEBF7;
	mso-pattern:black none;}
.xl99
	{mso-style-parent:style0;
	color:windowtext;
	text-align:left;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#DDEBF7;
	mso-pattern:black none;}
.xl100
	{mso-style-parent:style0;
	color:windowtext;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#DDEBF7;
	mso-pattern:black none;
	white-space:normal;}
.xl101
	{mso-style-parent:style0;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#DDEBF7;
	mso-pattern:black none;}
.xl102
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid windowtext;}
.xl103
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;}
.xl104
	{mso-style-parent:style0;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;}
.xl105
	{mso-style-parent:style0;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl106
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#DDEBF7;
	mso-pattern:black none;}
.xl107
	{mso-style-parent:style0;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#DDEBF7;
	mso-pattern:black none;}
.xl108
	{mso-style-parent:style0;
	text-align:center;
	border:.5pt solid windowtext;
	background:#DDEBF7;
	mso-pattern:black none;
	white-space:normal;}
.xl109
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#FCE4D6;
	mso-pattern:black none;
	white-space:normal;}
.xl110
	{mso-style-parent:style0;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#FCE4D6;
	mso-pattern:black none;
	white-space:normal;}
.xl111
	{mso-style-parent:style0;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#FCE4D6;
	mso-pattern:black none;
	white-space:normal;}
